
@model PlantDataMVC.Web.Models.ViewModels.SeedTray.SeedTrayEditViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<form asp-controller=@PlantDataMvcAppControllers.SeedTray asp-action="Update">
    <div asp-validation-summary="ModelOnly"></div>
    <fieldset>
        <legend>Seed Tray</legend>

        <input asp-for="Id" type="hidden" />

        <fieldset>
            <legend>Seed Batch Info</legend>

            <input asp-for="SeedBatchId" type="hidden" />

            <div class="editor-label">
                <label asp-for="SeedBatchSpeciesBinomial"></label>
            </div>
            <div class="editor-field">
                @Html.DisplayFor(model => model.SeedBatchSpeciesBinomial)
            </div>
        
            <div class="editor-label">
                <label asp-for="SeedBatchLocation"></label>
            </div>
            <div class="editor-field">
                @Html.DisplayFor(model => model.SeedBatchLocation)
            </div>

            <div class="editor-label">
                <label asp-for="SeedBatchDateCollected"></label>
            </div>
            <div class="editor-field">
                @Html.DisplayFor(model => model.SeedBatchDateCollected)
            </div>
        </fieldset>

        <div class="editor-label">
            <label asp-for="DateSown"></label>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DateSown)
            <span asp-validation-for="DateSown"></span>
        </div>

        <div class="editor-label">
            <label asp-for="Treatment"></label>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Treatment)
            <span asp-validation-for="Treatment"></span>
        </div>

        <div class="editor-label">
            <label asp-for="ThrownOut"></label>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ThrownOut)
            <span asp-validation-for="ThrownOut"></span>
        </div>

        <p>
            <input type="submit" value="Update" />
        </p>
    </fieldset>
</form>

<div>
    <a asp-controller=@PlantDataMvcAppControllers.SeedTray asp-action="Index">Back to Index</a>
</div>

