
@model PlantDataMVC.Web.Models.ViewModels.SeedTray.SeedTrayShowViewModel

@{
    ViewBag.Title = "Show";
}

<h2>Show</h2>

<fieldset>
    <legend>Seed Tray</legend>

    <fieldset>
        <legend>Seed Batch Info</legend>

        <input asp-for="SeedBatchId" type="hidden" />

        <div class="editor-label">
            <label asp-for="SeedBatchSpeciesBinomial"></label>
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.SeedBatchSpeciesBinomial)
        </div>

        <div class="editor-label">
            <label asp-for="SeedBatchLocation"></label>
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.SeedBatchLocation)
        </div>

        <div class="editor-label">
            <label asp-for="SeedBatchDateCollected"></label>
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.SeedBatchDateCollected)
        </div>
    </fieldset>

    <div class="editor-label">
        <label asp-for="DateSown"></label>
    </div>
    <div class="editor-field">
        @Html.DisplayFor(model => model.DateSown)
    </div>

    <div class="editor-label">
        <label asp-for="Treatment"></label>
    </div>
    <div class="editor-field">
        @Html.DisplayFor(model => model.Treatment)
    </div>

    <div class="editor-label">
        <label asp-for="ThrownOut"></label>
    </div>
    <div class="editor-field">
        @Html.DisplayFor(model => model.ThrownOut)
    </div>

</fieldset>

<p>
    <a asp-controller=@PlantDataMvcAppControllers.SeedTray asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-controller=@PlantDataMvcAppControllers.SeedTray asp-action="Index">Back to Index</a>
</p>

