@model PlantDataMVC.UICore.Models.ViewModels.Plant.PlantNewViewModel

@{
    ViewBag.Title = "New";
}

<h2>New</h2>

<form asp-action="Create" asp-controller="Plant">
    <div asp-validation-summary="ModelOnly"></div>
    <fieldset>
        <legend>Plant</legend>

        @*@Html.EditorForModel()*@
        <div class="editorlabel">
            <label asp-for="GenusId"></label>
        </div>
        <div class="editor-field">
            @Html.QueryDropDownFor(
            () => nameof(Model.GenusId),
            model => model.GenusId,
            new ListQuery<GenusDto>(),
            p => p.Id,
            p => p.LatinName)
            <span asp-validation-for="GenusId"></span>
        </div>

        <div class="editor-label">
            <label asp-for="Species"></label>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Species)
            <span asp-validation-for="Species"></span>
        </div>

        <div class="editor-label">
            <label asp-for="CommonName"></label>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CommonName)
            <span asp-validation-for="CommonName"></span>
        </div>

        <div class="editor-label">
            <label asp-for="Description"></label>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Description)
            <span asp-validation-for="Description"></span>
        </div>

        <div class="editor-label">
            <label asp-for="PropagationTime"></label>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PropagationTime)
            <span asp-validation-for="PropagationTime"></span>
        </div>

        <div class="editor-label">
            <label asp-for="Native"></label>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Native)
            <span asp-validation-for="Native"></span>
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
</form>

<div>
    <a asp-controller="Plant" asp-action="Index">Back to Index</a>
</div>