@using PlantDataMVC.UI.Helpers
@model PlantDataMVC.UI.Models.ViewModels.PlantStockEntryNewViewModel

@{
    ViewBag.Title = "New";
}

<h2>New</h2>

@using (Html.BeginForm("Create", "PlantStock"))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Plant Stock</legend>

        @*@Html.HiddenFor(model => model.SpeciesId)*@


        <div class="editor-label">
            @Html.LabelFor(model => model.PlantSpecies)
        </div>
        <div class="editor-field">
            @*TODO: Should be using genus and species for display value*@
            @Html.DropDownFor(() => "SpeciesId", model => model.PlantSpecies, p => p.SpecificName, p => p.Id)
            @*@Html.DropDownListFor(m => m.ProductTypeId, new SelectList(Model.ProductTypes, "Id", "Name", Model.ProductTypeId), "Select an option")*@
            @*@Html.ValidationMessageFor(model => model.ProductTypeId)*@
        </div>

        @*<div class="editor-label">
                @Html.LabelFor(model => model.SpeciesBinomial)
            </div>
            <div class="editor-field">
                @Html.DisplayFor(model => model.SpeciesBinomial)
                @Html.ValidationMessageFor(model => model.SpeciesBinomial)
            </div>*@

        <div class="editor-label">
            @Html.LabelFor(model => model.ProductType)
        </div>
        <div class="editor-field">
            @Html.DropDownFor(() => "ProductType.Id", model => model.ProductType, p => p.Name, p => p.Id)
            @*@Html.DropDownListFor(m => m.ProductTypeId, new SelectList(Model.ProductTypes, "Id", "Name", Model.ProductTypeId), "Select an option")*@
            @*@Html.ValidationMessageFor(model => model.ProductTypeId)*@
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.QuantityInStock)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.QuantityInStock)
            @Html.ValidationMessageFor(model => model.QuantityInStock)
        </div>

        <p>
            <input type="submit" value="Create"/>
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to Index", "Index")
</div>

