@model PlantDataMVC.UI.Models.ViewModels.PlantStock.PlantStockShowViewModel

@{
    ViewBag.Title = "Show";
}

<h2>Show</h2>

<fieldset>
    <legend>Plant Stock</legend>

    @Html.DisplayForModel()

    @*<div class="display-label">@Html.LabelFor(model => model.Transactions)</div>*@
    @*<div class="child-table">@Html.Partial("TransactionListTable", Model.Transactions)</div>*@
    @*<div class="button">@Html.ActionLink("New", "New", "Transaction", new { plantStockId = Model.Id }, null)</div>*@
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to Index", "Index")
</p>

