
@model PlantDataMVC.Web.Models.ViewModels.Genus.GenusShowViewModel

@{
    ViewBag.Title = "Show";
}

<h2>Show</h2>

<fieldset>
    <legend>Genus</legend>

    @Html.DisplayForModel()

    @*<div class="display-label">@Html.LabelFor(model => model.Seeds)</div>
    <div class="child-table">@Html.Partial("SeedBatchListTable", Model.Seeds)</div>
    <div class="button"><a asp-controller=@PlantDataMvcAppControllers.SeedBatch asp-action="New" asp-route-id=@Model.Id>New</a></div>*@
    @*<p></p>*@
    @*<div class="display-label">@Html.LabelFor(model => model.Stock)</div>
    <div class="child-table">@Html.Partial("PlantStockListTable", Model.Stock)</div>
    <div class="button"><a asp-controller=@PlantDataMvcAppControllers.PlantStock asp-action="New" asp-route-id=@Model.Id>New</a></div>*@
</fieldset>

<p>
    <a asp-controller=@PlantDataMvcAppControllers.Genus asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-controller=@PlantDataMvcAppControllers.Genus asp-action="Index">Back to Index</a>
</p>

