@model IList<PlantDataMVC.UICore.Models.ViewModels.Genus.GenusListViewModel>
@using Genus = PlantDataMVC.UICore.Models.ViewModels.Genus
@{
    Genus.GenusListViewModel sampleElement = new Genus.GenusListViewModel();
    // TODO: Convert ColumnHeaderFor to TagHelper
}
<table class="grid">
    <tr>
        <th>@Html.ColumnHeaderFor(m => sampleElement.LatinName)</th>
        <th></th>
        <th></th>
    </tr>


@{
int count = 0;
foreach (var entry in Model) {
    <tr>
        <td><a asp-controller="Genus" asp-action="Show" asp-route-id="@entry.Id">@entry.LatinName</a></td>
        <td><a asp-controller="Genus" asp-action="Edit" asp-route-id="@entry.Id">Edit</a></td>
        <td><a asp-controller="Genus" asp-action="Delete" asp-route-id="@entry.Id">Delete</a></td>
    </tr>
    count++;
}
}
</table>
