@using PlantDataMVC.DTO.Dtos
@using PlantDataMVC.UI.Controllers.Queries
@using PlantDataMVC.UI.Helpers;
@model PlantDataMVC.UI.Models.ViewModels.SeedBatch.SeedBatchNewViewModel

@{
    ViewBag.Title = "New";
}

<h2>New</h2>

@using (Html.BeginForm("Create", "SeedBatch"))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Seed Batch</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.SpeciesId)
        </div>
        <div class="editor-field">
            @Html.QueryDropDownFor(
                () => "SpeciesId",
                model => model.SpeciesId,
                new ListQuery<SpeciesDto>(),
                p => p.Id,
                p => p.Binomial)
            @Html.ValidationMessageFor(model => model.SpeciesId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SiteId)
        </div>
        <div class="editor-field">
            @Html.QueryDropDownFor(
                  () => "SiteId",
                  model => model.SiteId,
                  new ListQuery<SiteDto>(),
                  p => p.Id,
                  p => p.SiteName)
            @Html.ValidationMessageFor(model => model.SiteId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DateCollected)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DateCollected)
            @Html.ValidationMessageFor(model => model.DateCollected)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Location)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Location)
            @Html.ValidationMessageFor(model => model.Location)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Notes)
        </div>
        <div class="editor-field">

            @Html.EditorFor(model => model.Notes)
            @Html.ValidationMessageFor(model => model.Notes)
        </div>
        <p>
            <input type="submit" value="Create"/>
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to Index", "Index")
</div>

