@using Site = PlantDataMVC.Web.Models.ViewModels.Site

@model SiteGridViewModel
@{
    Site.SiteListViewModel sampleElement = new Site.SiteListViewModel();
}
<div class="container-lg">
    @if (Model.Options.AllowAdd)
    {
        <a asp-controller="@PlantDataMvcAppControllers.Site" asp-action="New">Add New Item</a>
    }
    <table class="table border">
        <thead>
            <tr>
                <th scope="col">@Html.ColumnHeaderFor(m => sampleElement.SiteName, Model.Options.AllowSorting)</th>
                <th scope="col">@Html.ColumnHeaderFor(m => sampleElement.Suburb, Model.Options.AllowSorting)</th>
                <th scope="col">@Html.ColumnHeaderFor(m => sampleElement.Latitude, Model.Options.AllowSorting)</th>
                <th scope="col">@Html.ColumnHeaderFor(m => sampleElement.Longitude, Model.Options.AllowSorting)</th>
                @if (Model.Options.AllowEdit)
                {
                    <th scope="col"></th>
                }
                @if (Model.Options.AllowDelete)
                {
                    <th scope="col"></th>
                }
            </tr>
        </thead>
        <tbody>
            @{
                int count = 0;
                foreach (var entry in Model.Items)
                {
                    <tr>
                        <td><a asp-controller=@PlantDataMvcAppControllers.Site asp-action="Show" asp-route-id="@entry.Id">@entry.SiteName</a></td>
                        <td>@Html.DisplayFor(m => m.Items.ElementAt(count).Suburb)</td>
                        <td>@Html.DisplayFor(m => m.Items.ElementAt(count).Latitude)</td>
                        <td>@Html.DisplayFor(m => m.Items.ElementAt(count).Longitude)</td>
                        @if (Model.Options.AllowEdit)
                        {
                            <td><a asp-controller=@PlantDataMvcAppControllers.Site asp-action="Edit" asp-route-id="@entry.Id">Edit</a></td>
                        }
                        @if (Model.Options.AllowDelete)
                        {
                            <td><a asp-controller=@PlantDataMvcAppControllers.Site asp-action="Delete" asp-route-id="@entry.Id">Delete</a></td>
                        }
                    </tr>
                    count++;
                }
            }
        </tbody>
    </table>
    @if (Model.Options.AllowPaging)
    {
        @Html.PagingLinksFor(m => Model)
    }
</div>