@model PlantDataMVC.UI.Models.SiteShowViewModel

<style>
    .map {
        height: 400px;
        width: 400px;
    }
</style>

@{
    ViewBag.Title = "Show";
}

<h2>Show</h2>

<fieldset>
    <legend>Site</legend>

    @Html.DisplayForModel()
    @*<div class="child-table">@Html.Partial("SeedListTable", Model.SeedBatches)</div>*@
    @*<div class="button">@Html.ActionLink("New", "New", "Tray", new { seedBatchId = Model.Id }, null)</div>*@
</fieldset>

<!-- This is the div that will contain the map -->
<div id="map" class="map"></div>
<div id="popup"></div>

<!-- Enclose the Javascript in a "section" so that it is rendered in the correct order after scripts have been loaded etc -->
@section scripts{

    <script type="text/javascript">

        // This code tells the browser to execute the "Initialize" method only when the complete document model has been loaded.
        $(document).ready(function () {
            Initialise();
        });

        function Initialise() {
            // get siteModel in JSON encoded format
            var latitude = @Html.Raw(Json.Encode(Model.Latitude));
            var longitude = @Html.Raw(Json.Encode(Model.Longitude));
            var centreLat = latitude;
            var centreLong = longitude;
            var zoomLevel = 4;

            var map = new ol.Map({
                target: document.getElementById('map'),
                layers: [
                    new ol.layer.Tile({
                        source: new ol.source.OSM()
                    })
                ],
                view: new ol.View({
                    center: ol.proj.fromLonLat([longitude, latitude]),
                    zoom: zoomLevel
                })
            });

            @*var map = Mapping.createMap(document.getElementById('map'), latitude, longitude, zoomLevel);
            Mapping.addMarker('@Url.Content("~/Content/Images/place-marker.png")', map, centreLat, centreLong);*@
        };
    </script>
}


<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to Index", "Index")
</p>

