@model PlantDataMvc3.UI.Models.SiteShowViewModel

@{
    ViewBag.Title = "Show";
}

<h2>Show</h2>

<fieldset>
    <legend>Site</legend>

    @Html.DisplayForModel()
    <div class="child-table">@Html.Partial("SeedListTable", Model.SeedBatches)</div>

    <div class="button">@Html.ActionLink("New", "New", "Tray", new { seedBatchId = Model.Id }, null)</div>
</fieldset>

<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to Index", "Index")
</p>

