@using PlantDataMVC.UI.Helpers
@model PlantDataMVC.UI.Models.ViewModels.PlantStockTransactionEditViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm("Update", "Transaction"))
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Transaction</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.PlantStockEntryId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PlantStockEntryId)
            @Html.ValidationMessageFor(model => model.PlantStockEntryId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(m => m.TransactionType)
        </div>
        <div class="editor-field">
            @Html.DropDownFor(() => "TransactionType.Id", model => model.TransactionType, p => p.DisplayValue, p => p.Id)
            @*@Html.DropDownListFor(m => m.TransactionTypeId, new SelectList(Model.TransactionTypes, "Id", "Name", Model.TransactionTypeId), "Select an option")*@
            @*@Html.ValidationMessageFor(model => model.TransactionTypeId)*@
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TransactionDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TransactionDate)
            @Html.ValidationMessageFor(model => model.TransactionDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Quantity)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Quantity)
            @Html.ValidationMessageFor(model => model.Quantity)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SeedTrayId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SeedTrayId)
            @Html.ValidationMessageFor(model => model.SeedTrayId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TransactionSource)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TransactionSource)
            @Html.ValidationMessageFor(model => model.TransactionSource)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Notes)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Notes)
            @Html.ValidationMessageFor(model => model.Notes)
        </div>

        <p>
            <input type="submit" value="Update" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to Index", "Index")
</div>

