@using PlantDataMVC.DTO.Dtos
@using PlantDataMVC.UI.Controllers.Queries
@using PlantDataMVC.UI.Helpers
@model PlantDataMVC.UI.Models.ViewModels.Transaction.PlantStockTransactionEditViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm("Update", "Transaction"))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Transaction</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.PlantStockId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PlantStockId)
            @Html.ValidationMessageFor(model => model.PlantStockId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(m => m.TransactionTypeId)
        </div>
        <div class="editor-field">
            @Html.QueryDropDownFor(
                () => "TransactionTypeId",
                model => model.TransactionTypeId,
                new ListQuery<JournalEntryTypeDto>(),
                p => p.Id,
                p => p.Name)
            @Html.ValidationMessageFor(model => model.TransactionTypeId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TransactionDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TransactionDate)
            @Html.ValidationMessageFor(model => model.TransactionDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Quantity)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Quantity)
            @Html.ValidationMessageFor(model => model.Quantity)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SeedTrayId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SeedTrayId)
            @Html.ValidationMessageFor(model => model.SeedTrayId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TransactionSource)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TransactionSource)
            @Html.ValidationMessageFor(model => model.TransactionSource)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Notes)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Notes)
            @Html.ValidationMessageFor(model => model.Notes)
        </div>

        <p>
            <input type="submit" value="Update" />
        </p>
    </fieldset>
}

<div>
    @*@Html.ActionLink("Back to Index", "Index")*@
</div>

