@model PlantDataMVC.UI.Models.PlantSeedEditViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm("Update", "Seed"))
{
    @Html.ValidationSummary(true)
<fieldset>
    <legend>Seed Batch</legend>

    @Html.HiddenFor(model => model.Id)

    @Html.HiddenFor(model => model.SpeciesId)

    <div class="editor-label">
        @Html.LabelFor(model => model.SpeciesBinomial)
    </div>
    <div class="editor-field">
        @Html.DisplayFor(model => model.SpeciesBinomial)
    </div>

    @Html.HiddenFor(model => model.SiteId)

    <div class="editor-label">
        @Html.LabelFor(model => model.SiteName)
    </div>
    <div class="editor-field">
        @Html.DisplayFor(model => model.SiteName)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.DateCollected)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.DateCollected)
        @Html.ValidationMessageFor(model => model.DateCollected)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.Location)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Location)
        @Html.ValidationMessageFor(model => model.Location)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.Notes)
    </div>
    <div class="editor-field">

        @Html.EditorFor(model => model.Notes)
        @Html.ValidationMessageFor(model => model.Notes)
    </div>
    <p>
        <input type="submit" value="Update" />
    </p>
</fieldset>
}

<div>
    @Html.ActionLink("Back to Index", "Index")
</div>

