@model PlantDataMVC.UICore.Models.ViewModels.Genus.GenusShowViewModel

@{
    ViewBag.Title = "Show";
}

<h2>Show</h2>

<fieldset>
    <legend>Genus</legend>

    @Html.DisplayForModel()

    @*<div class="display-label">@Html.LabelFor(model => model.Seeds)</div>
    <div class="child-table">@Html.Partial("SeedBatchListTable", Model.Seeds)</div>
    <div class="button">@Html.ActionLink("New", "New", "SeedBatch", new { speciesId = Model.Id }, null)</div>*@
    @*<p></p>*@
    @*<div class="display-label">@Html.LabelFor(model => model.Stock)</div>
    <div class="child-table">@Html.Partial("PlantStockListTable", Model.Stock)</div>
    <div class="button">@Html.ActionLink("New", "New", "PlantStock", new { speciesId = Model.Id }, null)</div>*@
</fieldset>

<p>
    <a asp-controller="Genus" asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-controller="Genus" asp-action="Index">Back to Index</a>
</p>

