@using ProductPrice = PlantDataMVC.Web.Models.ViewModels.ProductPrice

@model ProductPriceGridViewModel

@{
    ProductPrice.ProductPriceListViewModel sampleElement = new ProductPrice.ProductPriceListViewModel();
}
@if (Model.Options.AllowAdd)
{
    <a asp-controller="@PlantDataMvcAppControllers.ProductPrice" asp-action="New">Add New Item</a>
}

<table class="grid">
    <tr>
        <th>@Html.ColumnHeaderFor(m => sampleElement.ProductTypeName)</th>
        <th>@Html.ColumnHeaderFor(m => sampleElement.DateEffective)</th>
        <th>@Html.ColumnHeaderFor(m => sampleElement.Price)</th>
        <th></th>
        @if (Model.Options.AllowEdit)
        {
            <th></th>
        }
        @if (Model.Options.AllowDelete)
        {
            <th></th>
        }
    </tr>
    @{
        int count = 0;
        foreach (var entry in Model.Items)
        {
            <tr>
                <td>@Html.DisplayFor(m => m.Items.ElementAt(count).ProductTypeName)</td>
                <td>@Html.DisplayFor(m => m.Items.ElementAt(count).DateEffective)</td>
                <td>@Html.DisplayFor(m => m.Items.ElementAt(count).Price)</td>
                <td><a asp-controller=@PlantDataMvcAppControllers.ProductPrice asp-action="Show" asp-route-id="@entry.Id">Show</a></td>
                @if (Model.Options.AllowEdit)
                {
                    <td><a asp-controller=@PlantDataMvcAppControllers.ProductPrice asp-action="Edit" asp-route-id="@entry.Id">Edit</a></td>
                }
                @if (Model.Options.AllowDelete)
                {
                    <td><a asp-controller=@PlantDataMvcAppControllers.ProductPrice asp-action="Delete" asp-route-id="@entry.Id">Delete</a></td>
                }
            </tr>
            count++;
        }
    }
</table>
@if (Model.Options.AllowPaging)
{
    @Html.PagingLinksFor(m => Model)
}
