@model IList<PlantDataMVC.Web.Models.ViewModels.PlantStock.PlantStockListViewModel>
@using PlantDataMVC.Web.Constants;
@using PlantStock = PlantDataMVC.Web.Models.ViewModels.PlantStock

@{
    PlantStock.PlantStockListViewModel sampleElement = new PlantStock.PlantStockListViewModel();
}

<table class="grid">
    <tr>
        <th>@Html.ColumnHeaderFor(m => sampleElement.SpeciesBinomial)</th>
        <th>@Html.ColumnHeaderFor(m => sampleElement.ProductTypeName)</th>
        <th>@Html.ColumnHeaderFor(m => sampleElement.QuantityInStock)</th>
        <th></th>
        <th></th>
    </tr>

    @{
        int count = 0;
        foreach (var entry in Model)
        {
            <tr>
                <td><a asp-controller=@PlantDataMvcAppControllers.PlantStock asp-action="Show" asp-route-id="@entry.Id">@entry.SpeciesBinomial</a></td>
                <td>@Html.DisplayFor(m => m.ElementAt(count).ProductTypeName)</td>
                <td>@Html.DisplayFor(m => m.ElementAt(count).QuantityInStock)</td>
                <td><a asp-controller=@PlantDataMvcAppControllers.PlantStock asp-action="Details" asp-route-id="@entry.Id">Details</a></td>
                <td><a asp-controller=@PlantDataMvcAppControllers.PlantStock asp-action="Delete" asp-route-id="@entry.Id">Delete</a></td>
            </tr>
            count++;
        }
    }
</table>