@model IList<PlantDataMVC.UICore.Models.ViewModels.Site.SiteListViewModel>
@using Site = PlantDataMVC.UICore.Models.ViewModels.Site

@{
    Site.SiteListViewModel sampleElement = new Site.SiteListViewModel();   
}
<table class="grid">
    <tr>
        <th>@Html.ColumnHeaderFor(m => sampleElement.SiteName)</th>
        <th>@Html.ColumnHeaderFor(m => sampleElement.Suburb)</th>
        <th>@Html.ColumnHeaderFor(m => sampleElement.Latitude)</th>
        <th>@Html.ColumnHeaderFor(m => sampleElement.Longitude)</th>
        <th></th>
        <th></th>
    </tr>

@{
int count = 0;
foreach (var entry in Model) {
    <tr>
        <td><a asp-controller="Site" asp-action="Show" asp-route-id="@entry.Id">@entry.SiteName</a></td>
        <td>@Html.DisplayFor(m => m.ElementAt(count).Suburb)</td>
        <td>@Html.DisplayFor(m => m.ElementAt(count).Latitude)</td>
        <td>@Html.DisplayFor(m => m.ElementAt(count).Longitude)</td>
        <td><a asp-controller="Site" asp-action="Edit" asp-route-id="@entry.Id">Edit</a></td>
        <td><a asp-controller="Site" asp-action="Delete" asp-route-id="@entry.Id">Delete</a></td>
    </tr>
    count++;
}
}
</table>