@using PlantDataMVC.UI.Helpers
@model PlantDataMVC.UI.Models.TrayNewViewModel

@{
    ViewBag.Title = "New";
}

<h2>New</h2>

@using (Html.BeginForm("Create", "Tray"))
{
    @Html.ValidationSummary(true)
<fieldset>
    <legend>Seed Tray</legend>

    <div class="editor-label">
        @Html.LabelFor(model => model.SeedBatch)
    </div>
    <div class="editor-field">
        @Html.DropDownFor(() => "SeedBatchId", model => model.SeedBatch, p => p.DisplayValue, p => p.Id)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.DatePlanted)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.DatePlanted)
        @Html.ValidationMessageFor(model => model.DatePlanted)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.Treatment)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Treatment)
        @Html.ValidationMessageFor(model => model.Treatment)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.ThrownOut)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.ThrownOut)
        @Html.ValidationMessageFor(model => model.ThrownOut)
    </div>

    <p>
        <input type="submit" value="Create" />
    </p>
</fieldset>
}

<div>
    @Html.ActionLink("Back to Index", "Index")
</div>

