
@model PlantDataMVC.Web.Models.ViewModels.ProductPrice.ProductPriceEditViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<form asp-controller=@PlantDataMvcAppControllers.ProductPrice asp-action="Update">
    <div asp-validation-summary="ModelOnly"></div>
    <fieldset>
        <legend>ProductPrice</legend>

        <input asp-for="Id" type="hidden" />

        <input asp-for="PriceListTypeId" type="hidden" />

        <input asp-for="ProductTypeId" type="hidden" />

        <div class="editor-label">
            <label asp-for="PriceListTypeName"></label>
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.PriceListTypeName)
        </div>

        <div class="editor-label">
            <label asp-for="ProductTypeName"></label>
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.ProductTypeName)
        </div>

        <div class="editor-label">
            <label asp-for="Price"></label>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Price)
            <span asp-validation-for="Price"></span>
        </div>

        <div class="editor-label">
            <label asp-for="DateEffective"></label>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DateEffective)
            <span asp-validation-for="DateEffective"></span>
        </div>


        <p>
            <input type="submit" value="Update"/>
        </p>
    </fieldset>
</form>

<div>
    <a asp-controller=@PlantDataMvcAppControllers.PriceListType asp-action="Details" asp-route-id="@Model.PriceListTypeId">Back to Details</a>
</div>