@model PlantDataMVC.Web.Models.ViewModels.ProductPrice.ProductPriceShowViewModel
@{
    ViewBag.Title = "Show";
}
<h2>Show</h2>
<div class="container-lg">
    <fieldset>
        <legend>Product Type</legend>

        <div class="row mb-3">
            <label asp-for="PriceListTypeName" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <p class="col-form-label">@Html.DisplayFor(model => model.PriceListTypeName)</p>
            </div>
        </div>

        <div class="row mb-3">
            <label asp-for="ProductTypeName" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <p class="col-form-label">@Html.DisplayFor(model => model.ProductTypeName)</p>
            </div>
        </div>

        <div class="row mb-3">
            <label asp-for="DateEffective" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <p class="col-form-label">@Html.DisplayFor(model => model.DateEffective)</p>
            </div>
        </div>

        <div class="row mb-3">
            <label asp-for="Price" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <p class="col-form-label">@Html.DisplayFor(model => model.Price)</p>
            </div>
        </div>
    </fieldset>
    <div>
        <a asp-controller=@PlantDataMvcAppControllers.ProductPrice asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
        <a asp-controller=@PlantDataMvcAppControllers.PriceListType asp-action="Details" asp-route-id="@Model.PriceListTypeId">Back to Details</a>
    </div>
</div>
