@model PlantDataMvc3.UI.Models.PlantStockEntryShowViewModel

@{
    ViewBag.Title = "Show";
}

<h2>Show</h2>

<fieldset>
    <legend>PlantStockModel</legend>

    @Html.DisplayForModel()

    <div class="display-label">@Html.LabelFor(model => model.Transactions)</div>
    <div class="child-table">@Html.Partial("PlantStockTransactionListTable", Model.Transactions)</div>
    
    <div class="button">@Html.ActionLink("New", "New", "Transaction", new { plantStockEntryId = Model.Id }, null)</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to Index", "Index")
</p>

