@model PlantDataMVC.UICore.Models.ViewModels.PlantStock.PlantStockShowViewModel

@{
    ViewBag.Title = "Show";
}

<h2>Show</h2>

<fieldset>
    <legend>Plant Stock</legend>

    @Html.DisplayForModel()

    @*<div class="display-label">@Html.LabelFor(model => model.Transactions)</div>*@
    @*<div class="child-table">@Html.Partial("TransactionListTable", Model.Transactions)</div>*@
    @*<div class="button">@Html.ActionLink("New", "New", "Transaction", new { plantStockId = Model.Id }, null)</div>*@
</fieldset>
<p>
    <a asp-controller="PlantStock" asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-controller="PlantStock" asp-action="Index">Back to Index</a>
</p>

