@model PlantDataMVC.Web.Models.ViewModels.SidebarMenuViewModel

@{
    Dictionary<string, object> HtmlAttribute = new Dictionary<string, object>() { { "class", "sidebar-menu" } };
}

<ejs-sidebar id="menuSidebar" htmlAttributes="HtmlAttribute" enableDock="true" dockSize="@Model.DockWidth" width="@Model.Width" target="@Model.TargetCss" isOpen="true" type="Auto">
    <e-content-template>
        <div class="main-menu">
            <div>
                <ejs-menu id="dockMenu" items="@Model.Menu.MenuItems" fields="@Model.Menu.MenuFields" orientation="Vertical" cssClass="dock-menu"></ejs-menu>
            </div>
        </div>
    </e-content-template>
</ejs-sidebar>

