@using SaleEventStock = PlantDataMVC.Web.Models.ViewModels.SaleEventStock

@model SaleEventStockGridViewModel

@{
    SaleEventStock.SaleEventStockListViewModel sampleElement = new SaleEventStock.SaleEventStockListViewModel();
}
@if (Model.Options.AllowAdd)
{
    <a asp-controller="@PlantDataMvcAppControllers.SeedBatch" asp-action="New">Add New Item</a>
}
<table class="grid">
    <tr>
        <th>@Html.ColumnHeaderFor(m => sampleElement.SpeciesBinomial)</th>
        <th>@Html.ColumnHeaderFor(m => sampleElement.ProductTypeName)</th>
        <th>@Html.ColumnHeaderFor(m => sampleElement.Quantity)</th>
    </tr>
@{
    int count = 0;
    foreach (var entry in Model.Items)
    {
        <tr>
            <td>@Html.DisplayFor(m => m.Items.ElementAt(count).SpeciesBinomial)</td>
            <td>@Html.DisplayFor(m => m.Items.ElementAt(count).ProductTypeName)</td>
            <td>@Html.DisplayFor(m => m.Items.ElementAt(count).Quantity)</td>
        </tr>
        count++;
    }
}
</table>
@if (Model.Options.AllowPaging)
{
    @Html.PagingLinksFor(m => Model)
}
