@using Label = PlantDataMVC.Web.Models.ViewModels.Label

@inject PlantDataMVC.Web.Services.ISpeciesLookupService speciesLookup

@model PlantLabelGridViewModel
@{
    Label.PlantLabelListViewModel sampleElement = new Label.PlantLabelListViewModel();
    var speciesForeignData = speciesLookup.GetData()
                        .Select(p => new { SpeciesId = p.Id, SpeciesBinomial = SpeciesFunctions.GetBinomial(p.GenusName, p.SpecificName) })
                        .OrderBy(p => p.SpeciesBinomial)
                        .ToList();
}
<div class="container-lg">
    <input type="hidden" id="LabelData" name="labelData" value="" />

    <ejs-grid id="PlantLabelGrid"
              dataSource="@Model.Items"
              allowPaging="@Model.Options.AllowPaging"
              allowSorting="@Model.Options.AllowSorting"
              height="550" width="800"
              toolbar="@Model.Options.ToolbarItems"
              actionComplete="actionComplete">
@*        <e-data-manager adaptor="UrlAdaptor"
                        url="@Url.Action("UrlDatasource", @PlantDataMvcAppControllers.PlantLabelGrid, new { allowPaging = $"{Model.Options.AllowPaging}" })"
                        updateUrl="@Url.Action("Update", @PlantDataMvcAppControllers.PlantLabelGrid)"></e-data-manager>
*@        <e-grid-pagesettings pageSize="@Model.PageSize" currentPage="@Model.PageNumber"></e-grid-pagesettings>
        <e-grid-editsettings allowAdding="@Model.Options.AllowAdd" allowEditing="@Model.Options.AllowEdit" allowDeleting="@Model.Options.AllowDelete"></e-grid-editsettings>
        <e-grid-columns>
            <e-grid-column width="150" field="@nameof(sampleElement.SpeciesId)" headerText="@Html.DisplayNameFor(x => sampleElement.SpeciesId)" foreignKeyValue="SpeciesBinomial" dataSource="@speciesForeignData"></e-grid-column>
            <e-grid-column width="100" field="@nameof(sampleElement.LabelQuantity)" headerText="@Html.DisplayNameFor(x => sampleElement.LabelQuantity)" type="number"></e-grid-column>
        </e-grid-columns>
    </ejs-grid>
</div>

<script type="text/javascript">
    function actionComplete(args) {
        if (args.requestType === 'save') {
            var ds = document.getElementById("PlantLabelGrid").ej2_instances[0].dataSource;
            var s = JSON.stringify(ds);
            $("#LabelData").val(s);
        }
    }
</script>

<style>
    .e-grid .e-row .e-rowcell {
        padding-top: 2px;
        padding-bottom: 2px;
    }
</style>