@using PlantDataMVC.Web.Constants;
@model PlantDataMVC.Web.Models.ViewModels.Transaction.TransactionNewViewModel

@{
    ViewBag.Title = "New";
}

<h2>New</h2>

<form asp-controller=@PlantDataMvcAppControllers.Transaction asp-action="Create">
    <div asp-validation-summary="ModelOnly"></div>
    <fieldset>
        <legend>Transaction</legend>

        <div class="editor-label">
            <label asp-for="SpeciesId"></label>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SpeciesId)
            <span asp-validation-for="SpeciesId"></span>
        </div>
        <div class="editor-label">
            <label asp-for="ProductTypeId"></label>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ProductTypeId)
            <span asp-validation-for="ProductTypeId"></span>
        </div>

        <div class="editor-label">
            <label asp-for="TransactionTypeId"></label>
        </div>
        <div class="editor-field">
            @Html.QueryDropDownFor(
                () => nameof(Model.TransactionTypeId),
                model => model.TransactionTypeId,
                new ListQuery<JournalEntryTypeDataModel>(),
                p => p.Id,
                p => p.Name)
            <span asp-validation-for="TransactionTypeId"></span>
        </div>

        <div class="editor-label">
            <label asp-for="TransactionDate"></label>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TransactionDate)
            <span asp-validation-for="TransactionDate"></span>
        </div>

        <div class="editor-label">
            <label asp-for="Quantity"></label>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Quantity)
            <span asp-validation-for="Quantity"></span>
        </div>

        <div class="editor-label">
            <label asp-for="SeedTrayId"></label>
        </div>
        <div class="editor-field">
            @Html.QueryDropDownFor(
                () => nameof(Model.SeedTrayId),
                model => model.SeedTrayId,
                new ListQuery<SeedTrayDataModel>(),
                p => p.Id,
                p => $"{p.Id}, {p.DateSown}")
            <span asp-validation-for="SeedTrayId"></span>
        </div>

        <div class="editor-label">
            <label asp-for="TransactionSource"></label>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TransactionSource)
            <span asp-validation-for="TransactionSource"></span>
        </div>

        <div class="editor-label">
            <label asp-for="Notes"></label>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Notes)
            <span asp-validation-for="Notes"></span>
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
</form>

<div>
    @*add back link if needed*@
</div>

