@model PlantDataMVC.UICore.Models.ViewModels.SeedBatch.SeedBatchNewViewModel

@{
    ViewBag.Title = "New";
}

<h2>New</h2>

<form asp-action="Create" asp-controller="SeedBatch">
    <div asp-validation-summary="ModelOnly"></div>
    <fieldset>
        <legend>Seed Batch</legend>

        <div class="editor-label">
            <label asp-for="SpeciesId"></label>
        </div>
        <div class="editor-field">
            @Html.QueryDropDownFor(
                () => "SpeciesId",
                model => model.SpeciesId,
                new ListQuery<SpeciesDto>(),
                p => p.Id,
                p => p.Binomial)
            <span asp-validation-for="SpeciesId"></span>
        </div>

        <div class="editor-label">
            <label asp-for="SiteId"></label>
        </div>
        <div class="editor-field">
            @Html.QueryDropDownFor(
                  () => "SiteId",
                  model => model.SiteId,
                  new ListQuery<SiteDto>(),
                  p => p.Id,
                  p => p.SiteName)
            <span asp-validation-for="SiteId"></span>
        </div>

        <div class="editor-label">
            <label asp-for="DateCollected"></label>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DateCollected)
            <span asp-validation-for="DateCollected"></span>
        </div>

        <div class="editor-label">
            <label asp-for="Location"></label>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Location)
            <span asp-validation-for="Location"></span>
        </div>

        <div class="editor-label">
            <label asp-for="Notes"></label>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Notes)
            <span asp-validation-for="Notes"></span>
        </div>
        <p>
            <input type="submit" value="Create"/>
        </p>
    </fieldset>
</form>

<div>
    <a asp-controller="SeedBatch" asp-action="Index">Back to Index</a>
</div>

